<h1>Show all customers</h1>

<h3>List of users</h3>
<br>
<h4>Total number of users: <%= @results.size %></h4>

<br>
<br>

<table class="table table-bordered table-striped">

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Date and Time</th>
    <th>Barber</th>
    <th>Color</th>
  </tr>

  <% @results.each do |row| %>

  <tr>
    <td><%= row['id'] %></td>
    <td><%= row['username'] %></td>
    <td><%= row['phone'] %></td>
    <td><%= row['datestamp'] %></td>
    <td><%= row['barber'] %></td>
    <td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
  </tr>

  <% end %>

</table>




